[Unit]
Description=Starts direwolf with config /home/pi/sdr.conf

[Service]
ExecStart=/usr/local/bin/direwolf -p -t 0 -c /home/pi/sdr.conf

[Install]
WantedBy=multi-user.target
