[Unit]
Description=Adds multicast route to tnc0
Requires=tncattach.service
After=tncattach.service

[Service]
Type=oneshot
ExecStart=/sbin/route add -net 224.0.0.0 netmask 240.0.0.0 tnc0

[Install]
WantedBy=multi-user.target
