[Unit]
Description=Starts tncattach
Requires=direwolf.service
After=direwolf.service

[Service]
ExecStart=/usr/local/sbin/tncattach --ethernet --mtu 1480 --noipv6 --ipv4 10.99.99.1/24 /tmp/kisstnc 115200

[Install]
WantedBy=multi-user.target
